.autocomplete {
  width: 200px;
  position: relative;
  display: inline-block;
}

.search {
  width: 200px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgb(245, 234, 234);
  outline: none;
}

.lists {
  position: absolute;
  max-height: 200px;
  z-index: 1;
  display: none;
  
}

.lists div {
  padding: 20px;
  width: 180px;
  border: 1px solid gray;
}