.autocomplete {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  border: 1px solid #ccc;
  max-height: 100px;
  overflow-y: auto;
  width: 100%;
  z-index: 1;
  display: none;
}

.dropdown-content div {
  padding: 10px;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}
